Read to MongoDB
[{"id":"519aa944.182b2","type":"mongodb","hostname":"172.17.42.1","port":"27017","db":"torque","name":"TorqueDB"},{"id":"2f4d948f.c14924","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB","collection":"userdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":699,"y":267,"z":"a48f2cf6.e8ede","wires":[]},{"id":"fc58fa37.3974a8","type":"http in","name":"Create host URL","url":"/torque.php","method":"get","x":400,"y":157,"z":"a48f2cf6.e8ede","wires":[["b90606f3.4e0e08","9ee6237b.89438","2f4d948f.c14924"]]},{"id":"58a2b7c6.871608","type":"http response","name":"Respond \"OK!\" to Torque","x":891,"y":77,"z":"a48f2cf6.e8ede","wires":[]},{"id":"b90606f3.4e0e08","type":"function","name":"Set payload to \"OK!\"","func":"msg.payload = \"OK!\";\nreturn msg;","outputs":1,"x":642,"y":75,"z":"a48f2cf6.e8ede","wires":[["58a2b7c6.871608"]]},{"id":"3cf73c70.0694dc","type":"comment","name":"The full URL is http://<hostname>:<nodered-port>/torque.php","info":"aa","x":231,"y":112,"z":"a48f2cf6.e8ede","wires":[]},{"id":"9ee6237b.89438","type":"debug","name":"debug","active":true,"console":"false","complete":"false","x":707,"y":159,"z":"a48f2cf6.e8ede","wires":[]}]
