Read to MongoDB
[{"id":"519aa944.182b2","type":"mongodb","hostname":"172.17.42.1","port":"27017","db":"torque","name":"TorqueDB"},{"id":"2f4d948f.c14924","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB","collection":"userdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":699,"y":267,"z":"a48f2cf6.e8ede","wires":[]},{"id":"fc58fa37.3974a8","type":"http in","name":"Create host URL","url":"/torque.php","method":"get","x":308,"y":156,"z":"a48f2cf6.e8ede","wires":[["b90606f3.4e0e08","52569369.faef4c"]]},{"id":"58a2b7c6.871608","type":"http response","name":"Respond \"OK!\" to Torque","x":891,"y":77,"z":"a48f2cf6.e8ede","wires":[]},{"id":"b90606f3.4e0e08","type":"function","name":"Set payload to \"OK!\"","func":"msg.payload = \"OK!\";\nreturn msg;","outputs":1,"x":642,"y":75,"z":"a48f2cf6.e8ede","wires":[["58a2b7c6.871608"]]},{"id":"3cf73c70.0694dc","type":"comment","name":"The full URL is http://<hostname>:<nodered-port>/torque.php","info":"aa","x":231,"y":112,"z":"a48f2cf6.e8ede","wires":[]},{"id":"9ee6237b.89438","type":"debug","name":"debug","active":false,"console":"false","complete":"false","x":707,"y":159,"z":"a48f2cf6.e8ede","wires":[]},{"id":"52569369.faef4c","type":"function","name":"Discard until for global variables are set","func":"var torqdesc = [{\"OriginalName\":\"k03\",\"WelshName\":\"Fuel system status\",\"description\":\"Fuel system status\"},{\"OriginalName\":\"k04\",\"WelshName\":\"Calculated engine load\",\"description\":\"Calculated engine load value\"},{\"OriginalName\":\"k05\",\"WelshName\":\"Engine coolant temp\",\"description\":\"Engine coolant temperature\"},{\"OriginalName\":\"k06\",\"WelshName\":\"Short term fuel trim (bank 1)\",\"description\":\"Short term fuel trim (bank 1)\"},{\"OriginalName\":\"k07\",\"WelshName\":\"Long term fuel trim (bank 1)\",\"description\":\"Long term fuel trim (bank 1)\"},{\"OriginalName\":\"k08\",\"WelshName\":\"Short term fuel trim (bank 2)\",\"description\":\"Short term fuel trim (bank 2)\"},{\"OriginalName\":\"k09\",\"WelshName\":\"Long term fuel trim (bank 2)\",\"description\":\"Long term fuel trim (bank 2)\"},{\"OriginalName\":\"k0a\",\"WelshName\":\"Fuel pressure\",\"description\":\"Fuel pressure\"},{\"OriginalName\":\"k0b\",\"WelshName\":\"Intake manifold absolute pressure\",\"description\":\"Intake manifold absolute pressure (MAP)\"},{\"OriginalName\":\"k0c\",\"WelshName\":\"Engine RPM\",\"description\":\"Engine RPM\"},{\"OriginalName\":\"k0d\",\"WelshName\":\"Vehicle speed\",\"description\":\"Vehicle speed\"},{\"OriginalName\":\"k0e\",\"WelshName\":\"Timing advance\",\"description\":\"Timing advance\"},{\"OriginalName\":\"k0f\",\"WelshName\":\"Intake air temp\",\"description\":\"Intake air temperature (IAT)\"},{\"OriginalName\":\"k10\",\"WelshName\":\"Mass air flow rate\",\"description\":\"Mass air flow rate (MAF)\"},{\"OriginalName\":\"k11\",\"WelshName\":\"Relative throttle position (at manifold)\",\"description\":\"Throttle position (at manifold), this is not the accelerator pedal, and this is a relative reading.\"},{\"OriginalName\":\"kff1005\",\"WelshName\":\"GPS Longitude\",\"description\":\"GPS Longitude\"},{\"OriginalName\":\"kff1006\",\"WelshName\":\"GPS Latitude\",\"description\":\"GPS Latitude\"},{\"OriginalName\":\"kff1001\",\"WelshName\":\"GPS Speed\",\"description\":\"GPS Speed\"},{\"OriginalName\":\"kff1010\",\"WelshName\":\"GPS Height\",\"description\":\"GPS Height\"},{\"OriginalName\":\"kff1007\",\"WelshName\":\"GPS bearing\",\"description\":\"GPS bearing\"},{\"OriginalName\":\"kff1201\",\"WelshName\":\"MPG\",\"description\":\"MPG\"},{\"OriginalName\":\"kff1202\",\"WelshName\":\"Turbo Boost\",\"description\":\"Turbo Boost\"},{\"OriginalName\":\"kff1203\",\"WelshName\":\"Kilometers Per Litre\",\"description\":\"Kilometers Per Litre\"},{\"OriginalName\":\"kff1205\",\"WelshName\":\"Trip MPG\",\"description\":\"Trip MPG\"},{\"OriginalName\":\"kff1206\",\"WelshName\":\"Trip KPL\",\"description\":\"Trip KPL\"},{\"OriginalName\":\"kff1207\",\"WelshName\":\"Litres per Kilometre\",\"description\":\"Litres per Kilometre\"},{\"OriginalName\":\"kff1208\",\"WelshName\":\"Trip LPK\",\"description\":\"Trip LPK\"},{\"OriginalName\":\"kff120a\",\"WelshName\":\"Manifold Vacuum\",\"description\":\"Manifold Vacuum\"},{\"OriginalName\":\"kff120b\",\"WelshName\":\"GPS Trip distance\",\"description\":\"GPS Trip distance\"},{\"OriginalName\":\"kff120c\",\"WelshName\":\"Vehicle distance (Odometer)\",\"description\":\"Vehicle distance (Odometer) saved with profile\"},{\"OriginalName\":\"kff1220\",\"WelshName\":\"Accelerometer (X)\",\"description\":\"Accelerometer (X)\"},{\"OriginalName\":\"kff1221\",\"WelshName\":\"Accelerometer (Y)\",\"description\":\"Accelerometer (Y)\"},{\"OriginalName\":\"kff1222\",\"WelshName\":\"Accelerometer (Z)\",\"description\":\"Accelerometer (Z)\"},{\"OriginalName\":\"kff1223\",\"WelshName\":\"Accelerometer (Total)\",\"description\":\"Accelerometer (Total)\"},{\"OriginalName\":\"kff1225\",\"WelshName\":\"Torque\",\"description\":\"Torque\"},{\"OriginalName\":\"kff1226\",\"WelshName\":\"Horsepower\",\"description\":\"Horsepower\"},{\"OriginalName\":\"kff122d\",\"WelshName\":\"0-60 mph time\",\"description\":\"0-60 mph time\"},{\"OriginalName\":\"kff122e\",\"WelshName\":\"0-100 kph time\",\"description\":\"0-100 kph time\"},{\"OriginalName\":\"kff122f\",\"WelshName\":\"Quarter mile time\",\"description\":\"Quarter mile time\"},{\"OriginalName\":\"kff1230\",\"WelshName\":\"eighth mile time\",\"description\":\"eighth mile time\"},{\"OriginalName\":\"kff1237\",\"WelshName\":\"GPS vs OBD speed diff\",\"description\":\"GPS vs OBD speed diff\"},{\"OriginalName\":\"kff1238\",\"WelshName\":\"Voltage\",\"description\":\"Voltage\"},{\"OriginalName\":\"kff1239\",\"WelshName\":\"GPS Accuracy\",\"description\":\"GPS Accuracy\"},{\"OriginalName\":\"kff123a\",\"WelshName\":\"GPS Satellites locked\",\"description\":\"GPS Satellites locked\"},{\"OriginalName\":\"kff123b\",\"WelshName\":\"GPS bearing\",\"description\":\"GPS bearing\"},{\"OriginalName\":\"kff1249\",\"WelshName\":\"AFR\",\"description\":\"AFR\"},{\"OriginalName\":\"kff1214\",\"WelshName\":\"O2 Sensor 1x1\",\"description\":\"O2 Sensor 1x1\"},{\"OriginalName\":\"kff1215\",\"WelshName\":\"O2 Sensor 1x2\",\"description\":\"O2 Sensor 1x2\"},{\"OriginalName\":\"kff1216\",\"WelshName\":\"O2 Sensor 1x3\",\"description\":\"O2 Sensor 1x3\"},{\"OriginalName\":\"kff1217\",\"WelshName\":\"O2 Sensor 1x4\",\"description\":\"O2 Sensor 1x4\"},{\"OriginalName\":\"kff1218\",\"WelshName\":\"O2 Sensor 2x1\",\"description\":\"O2 Sensor 2x1\"},{\"OriginalName\":\"kff1219\",\"WelshName\":\"O2 Sensor 2x2\",\"description\":\"O2 Sensor 2x2\"},{\"OriginalName\":\"kff121a\",\"WelshName\":\"O2 Sensor 2x3\",\"description\":\"O2 Sensor 2x3\"},{\"OriginalName\":\"kff121b\",\"WelshName\":\"O2 Sensor 2x4\",\"description\":\"O2 Sensor 2x4\"},{\"OriginalName\":\"kff1240\",\"WelshName\":\"O2 Equivalent Ratio 1\",\"description\":\"O2 Equivalent Ratio 1\"},{\"OriginalName\":\"kff1241\",\"WelshName\":\"O2 Equivalent Ratio 2\",\"description\":\"O2 Equivalent Ratio 2\"},{\"OriginalName\":\"kff1242\",\"WelshName\":\"O2 Equivalent Ratio 3\",\"description\":\"O2 Equivalent Ratio 3\"},{\"OriginalName\":\"kff1243\",\"WelshName\":\"O2 Equivalent Ratio 4\",\"description\":\"O2 Equivalent Ratio 4\"},{\"OriginalName\":\"kff1244\",\"WelshName\":\"O2 Equivalent Ratio 5\",\"description\":\"O2 Equivalent Ratio 5\"},{\"OriginalName\":\"kff1245\",\"WelshName\":\"O2 Equivalent Ratio 6\",\"description\":\"O2 Equivalent Ratio 6\"},{\"OriginalName\":\"kff1246\",\"WelshName\":\"O2 Equivalent Ratio 7\",\"description\":\"O2 Equivalent Ratio 7\"},{\"OriginalName\":\"kff1247\",\"WelshName\":\"O2 Equivalent Ratio 8\",\"description\":\"O2 Equivalent Ratio 8\"},{\"OriginalName\":\"kff1257\",\"WelshName\":\"CO2 in G/KM\",\"description\":\"CO2 in G/KM\"},{\"OriginalName\":\"kff1258\",\"WelshName\":\"CO2 in G/KM average\",\"description\":\"CO2 in G/KM average\"},{\"OriginalName\":\"kff125a\",\"WelshName\":\"Fuel rate\",\"description\":\"Fuel rate\"},{\"OriginalName\":\"kff125b\",\"WelshName\":\"Fuel cost (trip)\",\"description\":\"Fuel cost (trip)\"},{\"OriginalName\":\"kff125c\",\"WelshName\":\"Fuel used (trip)\",\"description\":\"Fuel used (trip)\"},{\"OriginalName\":\"kff1255\",\"WelshName\":\"Torque RPM component\",\"description\":\"Torque RPM component\"},{\"OriginalName\":\"kff1256\",\"WelshName\":\"HorsePower RPM component\",\"description\":\"HorsePower RPM component\"},{\"OriginalName\":\"kff124d\",\"WelshName\":\"Commanded AFR\",\"description\":\"Commanded AFR\"},{\"OriginalName\":\"kff1249\",\"WelshName\":\"Measured AFR\",\"description\":\"Measured AFR\"}];\n\n\n\nreturn msg;","outputs":1,"x":481,"y":216,"z":"a48f2cf6.e8ede","wires":[["2f4d948f.c14924","9ee6237b.89438"]]},{"id":"9f0408db.39e23","type":"inject","name":"","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":234,"y":347,"z":"a48f2cf6.e8ede","wires":[["f33b7c2f.bb81f8","7a2649f1.efde4"]]},{"id":"fc4c585d.6fd0b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":686,"y":415,"z":"a48f2cf6.e8ede","wires":[]},{"id":"39bdd17b.db4046","type":"function","name":"","func":"var torqdesc = { \"k03\": \"Fuel system status\", \"k04\":\"Calculated engine load\",\"k05\":\"Engine coolant temp\",\"k06\":\"Short term fuel trim (bank 1)\",\"k07\":\"Long term fuel trim (bank 1)\",\"k08\":\"Short term fuel trim (bank 2)\",\"k09\":\"Long term fuel trim (bank 2)\",\"k0a\":\"Fuel pressure\",\"k0b\":\"Intake manifold absolute pressure\",\"k0c\":\"Engine RPM\",\"k0d\":\"Vehicle speed\",\"k0e\":\"Timing advance\",\"k0f\":\"Intake air temp\",\"k10\":\"Mass air flow rate\",\"k11\":\"Relative throttle position (at manifold)\",\"kff1005\":\"GPS Longitude\",\"kff1006\":\"GPS Latitude\",\"kff1001\":\"GPS Speed\",\"kff1010\":\"GPS Height\",\"kff1007\":\"GPS bearing\",\"kff1201\":\"MPG\",\"kff1202\":\"Turbo Boost\",\"kff1203\":\"Kilometers Per Litre\",\"kff1205\":\"Trip MPG\",\"kff1206\":\"Trip KPL\",\"kff1207\":\"Litres per Kilometre\",\"kff1208\":\"Trip LPK\",\"kff120a\":\"Manifold Vacuum\",\"kff120b\":\"GPS Trip distance\",\"kff120c\":\"Vehicle distance (Odometer)\",\"kff1220\":\"Accelerometer (X)\",\"kff1221\":\"Accelerometer (Y)\",\"kff1222\":\"Accelerometer (Z)\",\"kff1223\":\"Accelerometer (Total)\",\"kff1225\":\"Torque\",\"kff1226\":\"Horsepower\",\"kff122d\":\"0-60 mph time\",\"kff122e\":\"0-100 kph time\",\"kff122f\":\"Quarter mile time\",\"kff1230\":\"eighth mile time\",\"kff1237\":\"GPS vs OBD speed diff\",\"kff1238\":\"Voltage\",\"kff1239\":\"GPS Accuracy\",\"kff123a\":\"GPS Satellites locked\",\"kff123b\":\"GPS bearing\",\"kff1249\":\"AFR\",\"kff1214\":\"O2 Sensor 1x1\",\"kff1215\":\"O2 Sensor 1x2\",\"kff1216\":\"O2 Sensor 1x3\",\"kff1217\":\"O2 Sensor 1x4\",\"kff1218\":\"O2 Sensor 2x1\",\"kff1219\":\"O2 Sensor 2x2\",\"kff121a\":\"O2 Sensor 2x3\",\"kff121b\":\"O2 Sensor 2x4\",\"kff1240\":\"O2 Equivalent Ratio 1\",\"kff1241\":\"O2 Equivalent Ratio 2\",\"kff1242\":\"O2 Equivalent Ratio 3\",\"kff1243\":\"O2 Equivalent Ratio 4\",\"kff1244\":\"O2 Equivalent Ratio 5\",\"kff1245\":\"O2 Equivalent Ratio 6\",\"kff1246\":\"O2 Equivalent Ratio 7\",\"kff1247\":\"O2 Equivalent Ratio 8\",\"kff1257\":\"CO2 in G/KM\",\"kff1258\":\"CO2 in G/KM average\",\"kff125a\":\"Fuel rate\",\"kff125b\":\"Fuel cost (trip)\",\"kff125c\":\"Fuel used (trip)\",\"kff1255\":\"Torque RPM component\",\"kff1256\":\"HorsePower RPM component\",\"kff124d\":\"Commanded AFR\",\"kff1249\":\"Measured AFR\"};\n\nvar newmsg = {};\nnewmsg.payload={};\n\nObject.getOwnPropertyNames(msg.payload).forEach(function(element) {\n    if (torqdesc.hasOwnProperty(element)) {newmsg.payload[torqdesc[element]] = msg.payload[element];}\n    else {console.log('Boo!');}\n});\n\nreturn newmsg;","outputs":1,"x":531,"y":318,"z":"a48f2cf6.e8ede","wires":[["4445d14b.0d8118"]]},{"id":"f33b7c2f.bb81f8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":505,"y":463,"z":"a48f2cf6.e8ede","wires":[]},{"id":"7a2649f1.efde4","type":"json","name":"","x":386,"y":286,"z":"a48f2cf6.e8ede","wires":[["39bdd17b.db4046"]]},{"id":"4445d14b.0d8118","type":"json","name":"","x":687,"y":332,"z":"a48f2cf6.e8ede","wires":[["fc4c585d.6fd0b"]]}]
