receive_and_commit_to_mongodb/noderedflows.json
[{"id":"519aa944.182b2","type":"mongodb","hostname":"172.17.42.1","port":"27017","db":"torque","name":"TorqueDB"},{"id":"2f4d948f.c14924","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.userdata","collection":"userdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":861.0831909179688,"y":91.16664123535156,"z":"a48f2cf6.e8ede","wires":[]},{"id":"fc58fa37.3974a8","type":"http in","name":"Create host URL","url":"/torque.php","method":"get","x":94.833251953125,"y":71.16665649414062,"z":"a48f2cf6.e8ede","wires":[["b90606f3.4e0e08","8b2fa0a0.4dc228","39bdd17b.db4046"]]},{"id":"58a2b7c6.871608","type":"http response","name":"Respond \"OK!\" to Torque","x":562.833251953125,"y":70.16665649414062,"z":"a48f2cf6.e8ede","wires":[]},{"id":"b90606f3.4e0e08","type":"function","name":"Set payload to \"OK!\"","func":"msg.payload = \"OK!\";\nreturn msg;","outputs":1,"x":327.833251953125,"y":71.16665649414062,"z":"a48f2cf6.e8ede","wires":[["58a2b7c6.871608"]]},{"id":"3cf73c70.0694dc","type":"comment","name":"The full URL is http://<hostname>:<nodered-port>/torque.php","info":"aa","x":232.833251953125,"y":25.166656494140625,"z":"a48f2cf6.e8ede","wires":[]},{"id":"9f0408db.39e23","type":"inject","name":"Bad Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\",\"snarf\":\"bogus\",\"blatt\":\"terrific\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":109.08323669433594,"y":268.66668701171875,"z":"a48f2cf6.e8ede","wires":[["f33b7c2f.bb81f8","7a2649f1.efde4"]]},{"id":"fc4c585d.6fd0b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":934.833251953125,"y":197.41664123535156,"z":"a48f2cf6.e8ede","wires":[]},{"id":"39bdd17b.db4046","type":"function","name":"Process Welsh Names","func":"var torqdesc = {\"kff5201\":\"MPG (Long-term Avg)\",\"session\":\"Device Session ID\",\"id\": \"Device ID\",\n                \"v\":\"API Version\",\"time\":\"Time\",\"eml\":\"Email address\",\"k03\":\"Fuel system status\",\n                \"k04\":\"Calculated engine load\",\"k05\":\"Engine coolant temp\",\"k06\":\"Short term fuel trim (bank 1)\",\n                \"k07\":\"Long term fuel trim (bank 1)\",\"k08\":\"Short term fuel trim (bank 2)\",\n                \"k09\":\"Long term fuel trim (bank 2)\",\"k0a\":\"Fuel pressure\",\"k0b\":\"Intake manifold absolute pressure\",\n                \"k0c\":\"Engine RPM\",\"k0d\":\"Vehicle speed\",\"k0e\":\"Timing advance\",\"k0f\":\"Intake air temp\",\n                \"k10\":\"Mass air flow rate\",\"k11\":\"Relative throttle position (at manifold)\",\"kff1005\":\"GPS Longitude\",\n                \"kff1006\":\"GPS Latitude\",\"kff1001\":\"GPS Speed\",\"kff1010\":\"GPS Height\",\"kff1007\":\"GPS bearing\",\n                \"kff1201\":\"MPG\",\"kff1202\":\"Turbo Boost\",\"kff1203\":\"Kilometers Per Litre\",\"kff1205\":\"Trip MPG\",\n                \"kff1206\":\"Trip KPL\",\"kff1207\":\"Litres per Kilometre\",\"kff1208\":\"Trip LPK\",\n                \"kff120a\":\"Manifold Vacuum\",\"kff120b\":\"GPS Trip distance\",\"kff120c\":\"Vehicle distance (Odometer)\",\n                \"kff1220\":\"Accelerometer (X)\",\"kff1221\":\"Accelerometer (Y)\",\"kff1222\":\"Accelerometer (Z)\",\n                \"kff1223\":\"Accelerometer (Total)\",\"kff1225\":\"Torque\",\"kff1226\":\"Horsepower\",\"kff122d\":\"0-60 mph time\",\n                \"kff122e\":\"0-100 kph time\",\"kff122f\":\"Quarter mile time\",\"kff1230\":\"eighth mile time\",\n                \"kff1237\":\"GPS vs OBD speed diff\",\"kff1238\":\"Voltage\",\"kff1239\":\"GPS Accuracy\",\n                \"kff123a\":\"GPS Satellites locked\",\"kff123b\":\"GPS bearing\",\"kff1249\":\"AFR\",\"kff1214\":\"O2 Sensor 1x1\",\n                \"kff1215\":\"O2 Sensor 1x2\",\"kff1216\":\"O2 Sensor 1x3\",\"kff1217\":\"O2 Sensor 1x4\",\"kff1218\":\"O2 Sensor 2x1\",\n                \"kff1219\":\"O2 Sensor 2x2\",\"kff121a\":\"O2 Sensor 2x3\",\"kff121b\":\"O2 Sensor 2x4\",\n                \"kff1240\":\"O2 Equivalent Ratio 1\",\"kff1241\":\"O2 Equivalent Ratio 2\",\"kff1242\":\"O2 Equivalent Ratio 3\",\n                \"kff1243\":\"O2 Equivalent Ratio 4\",\"kff1244\":\"O2 Equivalent Ratio 5\",\"kff1245\":\"O2 Equivalent Ratio 6\",\n                \"kff1246\":\"O2 Equivalent Ratio 7\",\"kff1247\":\"O2 Equivalent Ratio 8\",\"kff1257\":\"CO2 in G/KM\",\n                \"kff1258\":\"CO2 in G/KM average\",\"kff125a\":\"Fuel rate\",\"kff125b\":\"Fuel cost (trip)\",\n                \"kff125c\":\"Fuel used (trip)\",\"kff1255\":\"Torque RPM component\",\"kff1256\":\"HorsePower RPM component\",\n                \"kff124d\":\"Commanded AFR\",\"kff1249\":\"Measured AFR\",\"profileName\":\"Car Profile\",\n                \"profileFuelType\":\"Car fuel type\",\"profileWeight\":\"Car weight\",\"profileVe\":\"Volumetric efficiency\",\n                \"profileFuelCost\":\"Fuel cost per litre\",\"defaultUnitff5201\":\"Units for MPG (Long Term Avg)\",\n                \"defaultUnitff1226\":\"Units for Horsepower (at the wheels)\",\"defaultUnitff1001\":\"Units for Speed (GPS)\",\n                \"defaultUnitff124f\":\"Units for 0-200kph time\",\"defaultUnitff1220\":\"Units for Acceleration (X-axis)\",\n                \"defaultUnitff1006\":\"Units for GPS Latitude\",\"defaultUnitff122f\":\"Units for quarter mile time\",\n                \"defaultUnitff1005\":\"Units for GPS Longitude\",\"defaultUnitff123a\":\"Units for GPS Satellites\",\n                \"defaultUnitff1238\":\"Units for Voltage (OBD Adapter)\"};\n\nvar newmsg = {};\nnewmsg.payload={};\nvar error = [];\n\nObject.getOwnPropertyNames(msg.payload).forEach(function(element) {\n    if (torqdesc.hasOwnProperty(element)) {newmsg.payload[torqdesc[element]] = msg.payload[element];}\n    else {\n    \terror.push({payload: { type: \"UnknownMeasurement\", key: element, value: msg.payload[element] }});\n    \tnewmsg.payload[element] = msg.payload[element];\n    }\n});\n\nreturn [newmsg, error];","outputs":"2","x":577.333251953125,"y":220.66665649414062,"z":"a48f2cf6.e8ede","wires":[["3d7a099f.ac811e","2f4d948f.c14924"],["9b585548.b05518","8509128c.92d59"]]},{"id":"f33b7c2f.bb81f8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":281.08323669433594,"y":309.66668701171875,"z":"a48f2cf6.e8ede","wires":[]},{"id":"7a2649f1.efde4","type":"json","name":"","x":283.08323669433594,"y":268.66668701171875,"z":"a48f2cf6.e8ede","wires":[["39bdd17b.db4046"]]},{"id":"fe8f208e.27ef8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":939.833251953125,"y":288.91661071777344,"z":"a48f2cf6.e8ede","wires":[]},{"id":"9b585548.b05518","type":"json","name":"","x":790.3331909179688,"y":287.66661071777344,"z":"a48f2cf6.e8ede","wires":[["fe8f208e.27ef8"]]},{"id":"e2d18bdc.649378","type":"inject","name":"Good Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":105.08323669433594,"y":309.66668701171875,"z":"a48f2cf6.e8ede","wires":[["7a2649f1.efde4","f33b7c2f.bb81f8"]]},{"id":"48fa10a3.94b378","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.testdata","collection":"testdata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":861.583251953125,"y":142.66661071777344,"z":"a48f2cf6.e8ede","wires":[]},{"id":"8509128c.92d59","type":"mongodb out","mongodb":"519aa944.182b2","name":"Save To TorqueDB.errordata","collection":"errordata","payonly":true,"upsert":false,"multi":false,"operation":"store","x":860.833251953125,"y":245.41664123535156,"z":"a48f2cf6.e8ede","wires":[]},{"id":"3d7a099f.ac811e","type":"json","name":"","x":792.083251953125,"y":196.66664123535156,"z":"a48f2cf6.e8ede","wires":[["fc4c585d.6fd0b"]]},{"id":"8b2fa0a0.4dc228","type":"debug","name":"","active":false,"console":"false","complete":"false","x":252.5,"y":172.5,"z":"a48f2cf6.e8ede","wires":[]}]
