receive_and_commit_to_couchDb/flow.json
[{"id":"b2564001.4da9c","type":"http in","name":"Create host URL","url":"/torque.php","method":"get","x":208.75006103515625,"y":261,"z":"aa12db93.55ed28","wires":[["2c1aaeba.d3e552","6709e77d.98f618","96db260b.6924d8"]]},{"id":"9301e1a0.6cfe2","type":"http response","name":"Respond \"OK!\" to Torque","x":983.7500610351562,"y":157,"z":"aa12db93.55ed28","wires":[]},{"id":"2c1aaeba.d3e552","type":"function","name":"Set payload to \"OK!\"","func":"msg.payload = \"OK!\";\nreturn msg;","outputs":1,"x":455.75006103515625,"y":230,"z":"aa12db93.55ed28","wires":[["c90e9b74.36f168"]]},{"id":"14d7c990.eb2836","type":"comment","name":"The full URL is http://<hostname>:<nodered-port>/torque.php","info":"aa","x":360.75006103515625,"y":184,"z":"aa12db93.55ed28","wires":[]},{"id":"92c30ea0.6d3cf","type":"inject","name":"Bad Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\",\"snarf\":\"bogus\",\"blatt\":\"terrific\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":275.00006103515625,"y":446.5,"z":"aa12db93.55ed28","wires":[["e12dc4c1.1ed238","2afb18e.fd504e8"]]},{"id":"b6b27154.494d9","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1062.7500610351562,"y":356.24998474121094,"z":"aa12db93.55ed28","wires":[]},{"id":"c05dc3b4.3fa24","type":"function","name":"Process Welsh Names","func":"var torqdesc = {\"kff5201\":\"MPG (Long-term Avg)\",\"session\":\"Device Session ID\",\"id\": \"Device ID\",\n                \"v\":\"API Version\",\"time\":\"Time\",\"eml\":\"Email address\",\"k03\":\"Fuel system status\",\n                \"k04\":\"Calculated engine load\",\"k05\":\"Engine coolant temp\",\"k06\":\"Short term fuel trim (bank 1)\",\n                \"k07\":\"Long term fuel trim (bank 1)\",\"k08\":\"Short term fuel trim (bank 2)\",\n                \"k09\":\"Long term fuel trim (bank 2)\",\"k0a\":\"Fuel pressure\",\"k0b\":\"Intake manifold absolute pressure\",\n                \"k0c\":\"Engine RPM\",\"k0d\":\"Vehicle speed\",\"k0e\":\"Timing advance\",\"k0f\":\"Intake air temp\",\n                \"k10\":\"Mass air flow rate\",\"k11\":\"Relative throttle position (at manifold)\",\"kff1005\":\"GPS Longitude\",\n                \"kff1006\":\"GPS Latitude\",\"kff1001\":\"GPS Speed\",\"kff1010\":\"GPS Height\",\"kff1007\":\"GPS bearing\",\n                \"kff1201\":\"MPG\",\"kff1202\":\"Turbo Boost\",\"kff1203\":\"Kilometers Per Litre\",\"kff1205\":\"Trip MPG\",\n                \"kff1206\":\"Trip KPL\",\"kff1207\":\"Litres per Kilometre\",\"kff1208\":\"Trip LPK\",\n                \"kff120a\":\"Manifold Vacuum\",\"kff120b\":\"GPS Trip distance\",\"kff120c\":\"Vehicle distance (Odometer)\",\n                \"kff1220\":\"Accelerometer (X)\",\"kff1221\":\"Accelerometer (Y)\",\"kff1222\":\"Accelerometer (Z)\",\n                \"kff1223\":\"Accelerometer (Total)\",\"kff1225\":\"Torque\",\"kff1226\":\"Horsepower\",\"kff122d\":\"0-60 mph time\",\n                \"kff122e\":\"0-100 kph time\",\"kff122f\":\"Quarter mile time\",\"kff1230\":\"eighth mile time\",\n                \"kff1237\":\"GPS vs OBD speed diff\",\"kff1238\":\"Voltage\",\"kff1239\":\"GPS Accuracy\",\n                \"kff123a\":\"GPS Satellites locked\",\"kff123b\":\"GPS bearing\",\"kff1249\":\"AFR\",\"kff1214\":\"O2 Sensor 1x1\",\n                \"kff1215\":\"O2 Sensor 1x2\",\"kff1216\":\"O2 Sensor 1x3\",\"kff1217\":\"O2 Sensor 1x4\",\"kff1218\":\"O2 Sensor 2x1\",\n                \"kff1219\":\"O2 Sensor 2x2\",\"kff121a\":\"O2 Sensor 2x3\",\"kff121b\":\"O2 Sensor 2x4\",\n                \"kff1240\":\"O2 Equivalent Ratio 1\",\"kff1241\":\"O2 Equivalent Ratio 2\",\"kff1242\":\"O2 Equivalent Ratio 3\",\n                \"kff1243\":\"O2 Equivalent Ratio 4\",\"kff1244\":\"O2 Equivalent Ratio 5\",\"kff1245\":\"O2 Equivalent Ratio 6\",\n                \"kff1246\":\"O2 Equivalent Ratio 7\",\"kff1247\":\"O2 Equivalent Ratio 8\",\"kff1257\":\"CO2 in G/KM\",\n                \"kff1258\":\"CO2 in G/KM average\",\"kff125a\":\"Fuel rate\",\"kff125b\":\"Fuel cost (trip)\",\n                \"kff125c\":\"Fuel used (trip)\",\"kff1255\":\"Torque RPM component\",\"kff1256\":\"HorsePower RPM component\",\n                \"kff124d\":\"Commanded AFR\",\"kff1249\":\"Measured AFR\",\"profileName\":\"Car Profile\",\n                \"profileFuelType\":\"Car fuel type\",\"profileWeight\":\"Car weight\",\"profileVe\":\"Volumetric efficiency\",\n                \"profileFuelCost\":\"Fuel cost per litre\",\"defaultUnitff5201\":\"Units for MPG (Long Term Avg)\",\n                \"defaultUnitff1226\":\"Units for Horsepower (at the wheels)\",\"defaultUnitff1001\":\"Units for Speed (GPS)\",\n                \"defaultUnitff124f\":\"Units for 0-200kph time\",\"defaultUnitff1220\":\"Units for Acceleration (X-axis)\",\n                \"defaultUnitff1006\":\"Units for GPS Latitude\",\"defaultUnitff122f\":\"Units for quarter mile time\",\n                \"defaultUnitff1005\":\"Units for GPS Longitude\",\"defaultUnitff123a\":\"Units for GPS Satellites\",\n                \"defaultUnitff1238\":\"Units for Voltage (OBD Adapter)\"};\n\nvar newmsg = {};\nnewmsg.payload={};\nvar error = [];\n\nObject.getOwnPropertyNames(msg.payload).forEach(function(element) {\n    if (torqdesc.hasOwnProperty(element)) {newmsg.payload[torqdesc[element]] = msg.payload[element];}\n    else {\n    \terror.push({payload: { type: \"UnknownMeasurement\", key: element, value: msg.payload[element] }});\n    \tnewmsg.payload[element] = msg.payload[element];\n    }\n});\n\nreturn [newmsg, error];","outputs":"2","x":706.2500610351562,"y":378.5,"z":"aa12db93.55ed28","wires":[["e4449e1a.1bbb6","f645ad70.09ba5"],["fdd79e5c.02286"]]},{"id":"e12dc4c1.1ed238","type":"debug","name":"","active":true,"console":"false","complete":"false","x":486.0000762939453,"y":535.5,"z":"aa12db93.55ed28","wires":[]},{"id":"2afb18e.fd504e8","type":"json","name":"","x":449.00006103515625,"y":446.5,"z":"aa12db93.55ed28","wires":[["c05dc3b4.3fa24"]]},{"id":"cc18223b.33e7e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1067.7500610351562,"y":447.7499542236328,"z":"aa12db93.55ed28","wires":[]},{"id":"fdd79e5c.02286","type":"json","name":"","x":918.25,"y":446.4999542236328,"z":"aa12db93.55ed28","wires":[["cc18223b.33e7e"]]},{"id":"85ec70b.f7a139","type":"inject","name":"Good Payload","topic":"","payload":"{\"k03\": \"kayohthree test a\",\"k04\": \"kayohfour test b\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":266.00006103515625,"y":535.5,"z":"aa12db93.55ed28","wires":[["2afb18e.fd504e8","e12dc4c1.1ed238"]]},{"id":"e4449e1a.1bbb6","type":"json","name":"","x":920.0000610351562,"y":355.49998474121094,"z":"aa12db93.55ed28","wires":[["b6b27154.494d9"]]},{"id":"6709e77d.98f618","type":"debug","name":"","active":false,"console":"false","complete":"false","x":347.41680908203125,"y":366.3333435058594,"z":"aa12db93.55ed28","wires":[]},{"id":"c90e9b74.36f168","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":751,"y":200,"z":"aa12db93.55ed28","wires":[["9301e1a0.6cfe2"]]},{"id":"2d088529.d2f77a","type":"http request","name":"Add to dB","method":"GET","url":"","x":1078,"y":278,"z":"aa12db93.55ed28","wires":[["80170582.7fe8f8"]]},{"id":"f645ad70.09ba5","type":"function","name":"","func":"\nvar newMsg={payload:{}};\n\nnewMsg.url=\"http://192.168.1.96:5984/torque/event:\" + Date.now();\n\nnewMsg.method=\"PUT\"\nnewMsg.payload=msg.payload;\nreturn newMsg;","outputs":1,"x":921,"y":277,"z":"aa12db93.55ed28","wires":[["2d088529.d2f77a"]]},{"id":"96db260b.6924d8","type":"function","name":"start stop","func":"if (context.global.start==true)\n{\n\treturn msg;\n} \n\nreturn null;","outputs":1,"x":518,"y":338,"z":"aa12db93.55ed28","wires":[["c05dc3b4.3fa24"]]},{"id":"2aa52c59.d55ad4","type":"inject","name":"","topic":"","payload":"start","payloadType":"string","repeat":"","crontab":"","once":false,"x":244,"y":596,"z":"aa12db93.55ed28","wires":[["8c594b53.73a6b8"]]},{"id":"159555f7.ea6aaa","type":"inject","name":"","topic":"","payload":"stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":246,"y":641,"z":"aa12db93.55ed28","wires":[["8c594b53.73a6b8"]]},{"id":"8c594b53.73a6b8","type":"function","name":"","func":"if (msg.payload==\"start\") {\n\tcontext.global.start=true;\n\t} else {\n\tcontext.global.start=false;\n\t}\nreturn msg;","outputs":1,"x":406,"y":611,"z":"aa12db93.55ed28","wires":[["e2bdc589.1d4238"]]},{"id":"e2bdc589.1d4238","type":"debug","name":"","active":true,"console":false,"complete":false,"x":563,"y":605,"z":"aa12db93.55ed28","wires":[]}]